@import url('https://fonts.googleapis.com/css?family=Poppins|Slabo+27px&display=swap');

body {
    max-width: 980px;
    margin: auto;
    background: linear-gradient(to bottom, #e6e222e0 1% ,#ebe467 , #fffb94, #ffffff );
}
:root {
    --accent-color: #1f1e08;
    --main-color: #30302b;
    font-family: 'Slabo 27px', serif;
    scroll-behavior: smooth;
}
header .menu {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    display: flex;
    justify-content: space-around;
    padding: 0;
    list-style-type: none;

    }
header .menu a {
    text-decoration: none;
    text-transform: uppercase;
    color: whitesmoke;
    border-style: none;
    background-color: black;
    padding: 5px;

}
header .menu a:hover {
    background: radial-gradient(circle, #e7e729 10px, transparent 45px);

}
@media (min-width:550px){
    header {
        display: flex;
        background-color: black;
    }
}
header .menu {
    flex: 1;
    align-items: center;
    margin-top: 15px;
}
.basket {
    width: 50px;
    margin-right: 50px;
}
.basket img {
    display: block;
    justify-content: flex-end;
    background: radial-gradient(circle, #ffffff 10px, transparent 45px);
}
banner .main-picture img {
    display: block;
    width: 100%;
    text-align: center;
    min-height: 500px;
    margin:0;
    background-color: black;
}
.information {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.story {
    float: left;
    width: 400px;
    font-size: 20px;
}
.information img {
    width: 400px;
    overflow: auto;
}
.medium {
    display: flex;
    justify-content: center;
    align-items: center;
}
.medium p {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    float: left;
    margin-left: 50px;
    font-size: -webkit-xxx-large;
}
 h1, h2, h3 {
    text-align: center;
    margin-bottom: 20px;
    text-decoration-line: none;
    color: whitesmoke;
    background: radial-gradient(circle, #000000 25%, transparent 70%);
}
article .color-pasta {
background-image: url(../img/color-pasta.png);
min-height: 600px;
background-position: center;
display: flex;
}
article .number-1 {
align-self: flex-start;
margin-left: 80px;
margin-top: 50px;
}
article .number-2 {
align-self: flex-start;
margin-left: 471px;
margin-top: 45px;
}
article .number-3 {
align-self: center;
margin-left: 40px;
}
article .number-4 {
align-self: center;
margin-left: -192px;
margin-top: 610px;
}
article .number-5 {
align-self: center;
margin-left: -544px;
margin-top: 383px;
}
article .numbers {
display: flex;
}
.price h1 {
    margin: 60px 0 40px 0;
}
article .price .number-1 {
display: flex;
align-self: flex-start;
}
.recipe {
    display: flex;
    flex-direction: column;

}
.name-recipe {
    margin-top: 100px;
}
.recipe p {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}
.recipe img {
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.recipe #text {
    justify-content: center;
    align-items: center;
}
.carbonara {
    display: flex;
    justify-content: space-around;
     width: 100%;
}
.carbonara .list {
    font-size: 20px;
}
.carbonara img {
   width: 400px;
}
article .name-pasta {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    flex-direction: row-reverse ;
}
article .list-2{
font-size: 20px;
}
article .image {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
}
.image a {
    margin-left: 10px;
}
form {
    display: flex;
    align-items: center;
    flex-direction: column;
}
article .sendInfo {
    display: flex;
    justify-content: center;
}
.form-group {
    color: black;
    width: 50%;
}
.article input {
    margin-top: 11px;
	width: 300px;
	padding: 10px;
	font-size: 15px;
	border: 1px solid #333;
    }

form button {
  background:rgba(240, 224, 2, 0.959);
  color:rgb(0, 0, 0);
  border:none;
  position:relative;
  height:60px;
  font-size:1.6em;
  padding:0 2em;
  cursor:pointer;
  transition:800ms ease all;
  outline:none;
}
button:hover{
  background:#fff;
  color:rgb(0, 0, 0);
}
button:before,button:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: rgb(0, 0, 0);
  transition:400ms ease all;
}
button:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
button:hover:before,button:hover:after{
  width:100%;
  transition:800ms ease all;
}
.footer {
font-size: 1.5em;
}

article .icons {
    display: flex;
    margin: 0 60px;
}
article .footer {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    margin-top: 40px;
}
figure {
display: flex;
justify-content: center;
}