@import url('https://fonts.googleapis.com/css?family=Poppins|Slabo+27px&display=swap');

body {
    max-width: 980px;
    margin: auto;
    background: linear-gradient(to bottom, #e6e222e0 1% ,#ebe467 , #fffb94, #ffffff );
}
:root {
    --accent-color: #1f1e08;
    --main-color: #30302b;
    font-family: 'Slabo 27px', serif;

}
header .menu {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    display: flex;
    justify-content: space-around;
    padding: 0;
    list-style-type: none;

    }
header .menu a {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--main-color);
    border-style: none;
    padding: 5px;

}
header .menu a:hover {
    background: radial-gradient(circle, #dbdbcc 10px, transparent 45px);

}
@media (min-width:550px){
    header {
        display: flex;

    }
}
header .menu {
    flex: 1;
}
.basket {
    width: 50px;
    margin-right: 50px;
}
.basket img {
    display: block;
    justify-content: flex-end;
    width: 100%;
    }
banner .main-picture img {
    display: block;
    width: 100%;
    text-align: center;
    min-height: 500px;
    margin:0;
    background-color: black;
}
.information {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.story {
    float: left;
    width: 400px;
    font-size: 20px;
}
.information img {
    width: 400px;
    overflow: auto;
}
.medium {
    display: flex;
    justify-content: center;
    align-items: center;
}
.circle {
    display: flex;
    justify-content: flex-start;
    width: 200px;
    height: 200px;
    background: yellow;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border-radius: 100px;
    overflow: auto;
    margin-left: 60px;
}
.medium p {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    float: left;
    margin-left: 50px;
}
 h1, h2, h3 {
    text-align: center;
    margin: 40px;
}
article .color-pasta {
background-image: url(../img/color-pasta.jpg);
min-height: 600px;
background-size: cover;
background-position: center;
display: flex;
border-radius: 50%;
}
article .number-1 {
align-self: flex-start;
margin-left: 80px;
margin-top: 50px;
}
article .number-2 {
align-self: flex-start;
margin-left: 400px;
margin-top: 45px;
}
article .number-3 {
align-self: center;
}
article .number-4 {
align-self: center;
margin-left: -607px;
margin-top: 355px;
}
article .number-5 {
align-self: center;
margin-left: 257px;
margin-top: 600px
}
article .numbers {
display: flex;
}
article .price .number-1 {
display: flex;
align-self: flex-start;
}
.recipe {
    display: flex;
    flex-direction: column;

}
.name-recipe {
    margin-bottom: 0;
}
.recipe p {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}
.recipe img {
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.recipe #text {
    justify-content: center;
    align-items: center;
}
.carbonara {
    display: flex;
    justify-content: space-around;
     width: 100%;
}
.carbonara .list {
    font-size: 20px;
}
.carbonara img {
   width: 400px;
}
article .name-pasta {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    flex-direction: row-reverse ;
}
article .list-2{
font-size: 20px;
}
article .bottom {
    display: flex;
    justify-content: center;
}
.bottom label {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 10px;
    font-size: 20px;
}
article .image {
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: row-reverse;
    background: radial-gradient(circle, #dbdbcc 25%, transparent 70%);
   }
article form input {
    margin-top: 11px;
	width: 300px;
	padding: 10px;
	font-size: 15px;
	border: 1px solid #333;
    }
.last {
    float: left;
    padding-bottom: 10px;
    position: relative;
    list-style: none;
    margin-left: 40px;
}
form textarea {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px;
    background: linear-gradient(to bottom, #cecb1ee0 1% ,#ebe467 , #fffb94, #ffffff );
    margin: 30px;
    width: 500px;
    height: 300px;
}
button {
  background:rgba(240, 224, 2, 0.959);
  color:rgb(0, 0, 0);
  border:none;
  position:relative;
  height:60px;
  font-size:1.6em;
  padding:0 2em;
  cursor:pointer;
  transition:800ms ease all;
  outline:none;
  margin-left: 200px;
}
button:hover{
  background:#fff;
  color:rgb(0, 0, 0);
}
button:before,button:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: rgb(0, 0, 0);
  transition:400ms ease all;
}
button:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
button:hover:before,button:hover:after{
  width:100%;
  transition:800ms ease all;
}
.footer {
font-size: 1.5em;
}
figure {
display: flex;
justify-content: space-around;
}


