@import url('https://fonts.googleapis.com/css?family=Poppins|Slabo+27px&display=swap');

body {
    max-width: 980px;
    margin: auto;
}
:root {
    --accent-color: #1f1e08;
    --main-color: #30302b;
    font-family: 'Slabo 27px', serif;

}
header .menu {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    display: flex;
    justify-content: space-around;
    padding: 0;
    list-style-type: none;
    }
header .menu a {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--main-color);
    border-style: none;
    padding: 5px;
}
header .menu a:hover {
    background: radial-gradient(circle, #dbdbcc 10px, transparent 45px);
}
@media (min-width:550px){
    header {
        display: flex;
    }
}
header .menu {
    flex: 1;
}
banner .basket img {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    width: 7%;
        }
banner .main-picture img {
    display: block;
    width: 100%;
    text-align: center;
    min-height: 500px;
    margin:0;
    background-color: black;
}
.story {
    float: left;
    width: 50%;
    size: 16px;
    margin: 0;
}
.information {
    margin: 50px;
}
.information img {
    display: inline-block;
    width: 300px;
    overflow: auto;
}
.circle {
    width: 200px;
    height: 200px;
    background: yellow;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border-radius: 100px;
    margin: 50px;
    overflow: auto;
  }
  .circle p {
     float: left;
     width: 50%;
     size: 16px;
     margin: 0;
  }
 h1, h2, h3 {
    text-align: center;
    margin: 40px;
}
p {
    font-size: 18px;
}
.color-pasta {
    display: inline-block;
    width: 50%;
    text-align: center;
    border-radius: 50%;
    overflow: auto
}
article .number {

}
.recipe p {
    display: inline-block;
    align-items: center;
    justify-content:center;
    size:24px;
}
.carbonara img {
    display: inline-block;
    width: 44%;
    overflow: auto;
    margin: 0;
}

.list {
    float: left;
    width: 50%;
    font-size: 17px;
    margin: 0;
}
article .name-pasta {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    flex-direction: row-reverse ;
}
.directions ol {
font-size: 26px;
}
article .image {
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: row-reverse;
    border: 1px solid #333;
    background: radial-gradient(circle, #dbdbcc 25%, transparent 70%);
    border-style: none;
}
article .image img {
    width: 25px;
    margin: 10px;
}
article input {
    display: block;
	margin-top: 11px;
	width: 300px;
	padding: 10px;
	font-size: 13px;
	border: 1px solid #333;
    size: 15px;
        }
.last {
    float: left;
    padding-bottom: 10px;
    position: relative;
    list-style: none;
    margin-right: 5px;
}
figure .icons {
    float: left;
    position: relative;
    text-align: center;
    list-style: none;
    margin-right: 19px;
}